.category {
    ion-card p.advanced-background-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 50%;
        width: 100%;
        font-weight: bold;
        color: #FFF23D !important;
    }
    .advanced-background {
        position: relative;
        text-align: center !important;
    }
    ion-card p.advanced-background-title {
        position: absolute;
        top: 32%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: white !important;
    }
    ion-card button.advanced-background-details {
        position: absolute;
        bottom: 0;
        font-size: 0.8em;
        width: 25%;
        right: 0.4em;
    }
}
